<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/landing2.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
    <title>자기소개</title>

</head>
<body>
    {% include 'blog/navbar.html' %}
    <section>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6 text-light text-white">
                    <h1 class="mt-5"></h1>
                    <h2>안녕하세요</h2>
                    <h2>오준희입니다</h2>
                    <h4>
                        저는 python,html,css,django등을 배웠습니다.
                    </h4>
                </div>
                <div class="col-lg-5 mt-5 text-white">
                    <img src="{% static 'single_pages\images\image1.jpg' %}" alt="" width="400" height="530">
                    <h5>주소 : 경기도 안산시 단원구 석수로 138</h5>
                    <h5>P.H 010-2422-0884</h5>
                </div>
            </div>
        </div>
    </section>
    
    



    <div class="fixed-bottom">
        {% include 'blog/footer.html' %}
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>   
</body>
</html>